# [Gitignore](https://git-scm.com/docs/gitignore)

# Dependencies
node_modules

# Build / generate output
dist
tmp
*.tgz
*.gz

# Environment variable
.env
*.local

# Logs
logs
*.log*

# Tests / e2e / reports
tests/**/coverage
tests/**/reports

# Documents
docs

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
.git
.cache
.temp
yarn.lock
package-lock.json

# System files
.DS_Store
